<div id="modal">
    <!-- BOTON CERRAR -->
    <div class="row row-close-btn">
        <span class="close-icon">X</span>
    </div>

    <!-- ICONO PRINCIPAL -->
    <div class="row row-icon">
        @if(type === 'success'){
            <svg class="main-icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 50 50" xml:space="preserve">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                    <circle style="fill:#38b449;" cx="25" cy="25" r="25"></circle>
                    <polyline
                        style="fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
                        points=" 38,15 22,33 12,25 ">
                    </polyline>
                </g>
            </svg>
        }
        @else if(type === 'error'){
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 50 50" xml:space="preserve" width="100px" height="100px" fill="#000000">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                    <circle style="fill:#8d0000;" cx="25" cy="25" r="25"></circle>
                    <polyline style="fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;"
                        points="16,34 25,25 34,16 "></polyline>
                    <polyline style="fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;"
                        points="16,16 25,25 34,34 "></polyline>
                </g>
            </svg>
        }
    </div>

    <!-- TITULO -->
    <div class="row row-title">
        <span class="title-txt">{{ title }}</span>
    </div>

    <!-- MENSAJE -->
    <div class="row row-message">
        <p class="message-txt">{{ message }}</p>
    </div>

    <!-- BOTON CONFIRMAR -->
    <div class="row row-confirm">
        <button class="confirm-btn" (click)="Continue()">{{ btnText }}</button>
    </div>
</div>