<div id="wrapper">
    <!-- MENU DE NAVEGACION -->
    <app-menu></app-menu>

    <div id="content">
        <!-- HEADER -->
        <header>
            <img [src]="fireAuthService.user?.fotoPerfil">
            <!-- <h1>{{ fireAuthService.user?.nombre ?? '' | capitalize }} {{fireAuthService.user?.apellido ?? '' | capitalize}}</h1> -->
            <h1>Pablo Moto</h1>
        </header>

        <!-- INFORMACION DEL USUARIO -->
        <section id="info">
            <h2>Información</h2>
            <div class="row">
                <span class="label">Nombre:</span>
                <!-- <span class="value">{{ fireAuthService.user?.nombre ?? '' | capitalize }}</span> -->
                <span class="value">{{ fireAuthService.user?.nombre ?? 'Pablo' | capitalize }}</span>
            </div>
            <div class="row">
                <span class="label">Apellido:</span>
                <!-- <span class="value">{{ fireAuthService.user?.apellido ?? '' | capitalize }}</span> -->
                <div></div>
                <span class="value">{{ fireAuthService.user?.apellido ?? 'Moto' | capitalize }}</span>
            </div>
            <div class="row">
                <span class="label">Edad:</span>
                <!-- <span class="value">{{ fireAuthService.user?.edad ?? '' }}</span> -->
                <span class="value">{{ fireAuthService.user?.edad ?? '25' }}</span>
            </div>
            <div class="row">
                <span class="label">Correo electrónico:</span>
                <!-- <span class="value">{{ fireAuthService.user?.correo ?? '' }}</span> -->
                <span class="value">{{ fireAuthService.user?.email ?? 'pablo.moto@email.com' }}</span>
            </div>
            <div class="row">
                <span class="label">DNI:</span>
                <!-- <span class="value">{{ fireAuthService.user?.dni ?? '' }}</span> -->
                <span class="value">{{ fireAuthService.user?.dni ?? '12345678' }}</span>
            </div>

            @if (fireAuthService.IsAdmin() || fireAuthService.IsEspecialista()) {
            <div class="row">
                <span class="label">Estado:</span>
                <span class="value">{{ fireAuthService.IsApproved() ? 'Aprobado' : 'Pendiente de aprobación' }}</span>
            </div>
            }

            @if (fireAuthService.IsEspecialista()) {
            <div class="row">
                <span class="label">Especialidad:</span>
                <span class="value">{{ (fireAuthService.GetEspecialidad() ?? '') | capitalize }}</span>
            </div>
            }

            @if (fireAuthService.IsPaciente()){
            <div class="row">
                <span class="label">Obra social:</span>
                <span class="value">{{ fireAuthService.GetObraSocial() }}</span>
            </div>
            }
        </section>

        <!-- MIS HORARIOS -->
        @if(fireAuthService.IsEspecialista()){
        <section id="mis-horarios">
            <h2>Mis Horarios</h2>
            <div #horariosVCR></div>
        </section>
        }
    </div>
</div>