:root{
    /* PALETA DE COLORES */
    --primary-color: #38b449;
    --darker-color: #353435;
    --secondary-color: #a7c0d4;
    --background-color: #f4faf4;
    --accent-color: #7f83c0;

    /* INDICADORES */
    --error-color: rgb(141, 0, 0);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS';
}
body{
    min-height: 100svh;
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--background-color);
}